build
config.h
*.swp
*~
*#
.DS_Store
docsrc/stage
bin/
Release/
Debug/
*.so

#CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Eclipse
.classpath
.project
.settings/
